@import "tailwindcss";

@theme {
  --color-secondary-1: rgb(142, 143, 149);
  --color-secondary-2: rgb(107, 108, 114);
  --color-primary: rgb(41, 48, 54);
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
